		<!---网站底部--->
		<div class="footer">
			<div class="main footerTop">
				<div class="footer_left">
					<p>地址：湖北省武汉市东湖高新技术开发区南湖大道182号</p>
					<p>邮编：430073</p>
				</div>
				<div class="footer_left  ">
					<h4>快速链接</h4>
					<ul>
						<li><a href="http://xagx.zuel.edu.cn/2093/list.htm">下载中心</a></li>
						<li><a href="http://xagx.zuel.edu.cn/2094/list.htm">校内链接</a></li>
						<li><a href="http://xagx.zuel.edu.cn/2095/list.htm">校外链接</a></li>
						<li><a href="http://xagx.zuel.edu.cn/xyzj/list.htm">校友之家</a></li>
						<li><a href="http://xagx.zuel.edu.cn/gjjl/list.htm">国际交流</a></li>
						<li><a href="http://www.zuel.edu.cn/">学校主页</a></li>
						<li><a href="http://library.zuel.edu.cn/">图书馆</a></li>
						<li><a href="http://www.zuel.edu.cn/services/#timetable">学校校历</a></li>
						<li><a href="http://www.zuel.edu.cn/services/#network">网络服务</a></li>
						<li><a href="http://oa.zuel.edu.cn/">办公系统</a></li>
						<li><a href="http://www.zuel.edu.cn/guide/">校园导游</a></li>
						<li><a href="http://a.zuel.edu.cn/">学生大厅</a></li>
					</ul>
				</div>
				<div class="footer_left " style="border-right: 0">
					<div class="QRcode">
						<div style="float: left">
							<img src="http://xagx.zuel.edu.cn/_upload/tpl/02/6e/622/template622/img/erweima.jpg">
							<center>
								<!--<center></center> 相当于: style="text-align: center"-->
								<p>学院微信</p>
							</center>
						</div>
					</div>
				</div>
				<div style="clear: both"></div>
			</div>
			<div class="footer_bot">
				版权所有：中南财经政法大学信息与安全工程学院
			</div>
		</div>
	</body>
</html>