<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			http://xagx.zuel.edu.cn/2019/1212/c3402a230993/page.html
			http://xagx.zuel.edu.cn/2019/1212/c3402a230993/page.psp
		</title>
		<script src="js/jquery-2.2.4.js" type="text/javascript" charset="utf-8"></script>
		<link custom="self" href="http://xagx.zuel.edu.cn/_upload/tpl/02/6e/622/template622/css/mystyle.css" type="text/css" rel="stylesheet">
		<link custom="self" href="http://xagx.zuel.edu.cn/_upload/tpl/02/6e/622/template622/css/broadcast.css" type="text/css" rel="stylesheet">
		<link custom="self" href="http://xagx.zuel.edu.cn/_upload/tpl/02/6e/622/template622/css/sudyNav.css" type="text/css" rel="stylesheet">
		<link custom="self" href="http://xagx.zuel.edu.cn/_upload/tpl/02/6e/622/template622/css/style.css" type="text/css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="http://xagx.zuel.edu.cn/_css/_system/system_editor.css"/>
		<script src="js/jquery.sudyNav.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div id="header">
			<!-- banner -->
			<div class="beforeNavigation" frag="面板1">
				<div class="header_link" frag="窗口11">
					<div id="wp_nav_w11">
						<ul class="wp_nav" data-nav-config="{drop_v: 'down', drop_w: 'right', dir: 'y', opacity_main: '-1', opacity_sub: '-1', dWidth: '0'}">
							<li class="nav-item i1">
								<a href="/main.htm" title="中文版" target="_self">
									<span class="item-name">中文版</span>
								</a>
								<i class="mark"></i>
							</li>
							<li class="nav-item i2">
								<a href="/4472/list.htm" title="English Version" target="_self">
									<span class="item-name">English Vers...</span>
								</a>
								<i class="mark"></i>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- 导航栏 -->
			<div id="navigation" frag="面板2">
				<div class="main navbox" id="wp_nav_w2" frag="窗口21">
					<div id="wp_nav_w21">
						<ul class="wp_nav" data-nav-config="{drop_v: 'down', drop_w: 'right', dir: 'y', opacity_main: '-1', opacity_sub: '-1', dWidth: '0'}">
							<li class="nav-item i1">
								<a href="/main.htm" title="首页" target="_self">
									<span class="item-name">首页</span>
								</a>
								<i class="mark"></i>
							</li>
							<li class="nav-item i2">
								<a href="/2080/list.htm" title="学院概况" target="_self">
									<span class="item-name">学院概况</span>
								</a>
								<i class="mark"></i>
								<ul class="sub-nav" style="width: 80px; height: 149px; top: 45px; left: 0px; visibility: hidden;">
									<li class="nav-item i2-1" style="display: block; width: 100%;">
										<a href="/2096/list.htm" title="学院简况" target="_self" style="display: block; width: auto;">
											<span class="item-name">学院简况</span>
										</a>
										<i class="mark"></i>
									</li>
									<li class="nav-item i2-2" style="display: block; width: 100%;">
										<a href="/2097/list.htm" title="学院领导" target="_self" style="display: block; width: auto;">
											<span class="item-name">学院领导</span>
										</a>
										<i class="mark"></i>
									</li>
									<li class="nav-item i2-3" style="display: block; width: 100%;">
										<a href="/2016/0907/c2098a71740/page.htm" title="组织结构" target="_self" style="display: block; width: auto;">
											<span class="item-name">组织结构</span>
										</a>
										<i class="mark"></i>
									</li>
									<li class="nav-item i2-4" style="display: block; width: 100%;">
										<a href="/2099/list.htm" title="师资队伍" target="_self" style="display: block; width: auto;">
											<span class="item-name">师资队伍</span>
										</a>
										<i class="mark"></i>
									</li>
								</ul>
							</li>
							<li class="nav-item i3">
								<a href="/2081/list.htm" title="科学研究" target="_self">
									<span class="item-name">科学研究</span>
								</a>
								<i class="mark"></i>
								<ul class="sub-nav" style="width: 80px; height: 149px; top: 45px; left: 0px; visibility: hidden;">
									<li class="nav-item i3-1 " style="display: block; width: 100%;">
										<a href="/3331/list.htm" title="科研机构" target="_self" style="display: block; width: auto;">
											<span class="item-name">科研机构</span>
										</a>
										<i class="mark"></i>
									</li>
									<li class="nav-item i3-2 " style="display: block; width: 100%;">
										<a href="/3332/list.htm" title="对外交流" target="_self" style="display: block; width: auto;">
											<span class="item-name">对外交流</span>
										</a>
										<i class="mark"></i>
									</li>
									<li class="nav-item i3-3 " style="display: block; width: 100%;">
										<a href="/3333/list.htm" title="实验中心" target="_self" style="display: block; width: auto;">
											<span class="item-name">实验中心</span>
										</a>
										<i class="mark"></i>
									</li>
									<li class="nav-item i3-4 " style="display: block; width: 100%;">
										<a href="/kycx/list.htm" title="科研诚信" target="_self" style="display: block; width: auto;">
											<span class="item-name">科研诚信</span>
										</a>
										<i class="mark"></i>
									</li>
								</ul>
							</li>
							<li class="nav-item i4">
								<a href="/2082/list.htm" title="人才培养" target="_self">
									<span class="item-name">人才培养</span>
								</a>
								<i class="mark"></i>
								<ul class="sub-nav" style="width: 90px; height: 75px; top: 45px; left: 0px; visibility: hidden;">
									<li class="nav-item i4-1 " style="display: block; width: 100%;">
										<a href="/3335/list.htm" title="本科生教育" target="_self" style="display: block; width: auto;">
											<span class="item-name">本科生教育</span>
										</a>
										<i class="mark"></i>
									</li>
									<li class="nav-item i4-2 " style="display: block; width: 100%;">
										<a href="/3336/list.htm" title="研究生教育" target="_self" style="display: block; width: auto;">
											<span class="item-name">研究生教育</span>
										</a>
										<i class="mark"></i>
									</li>
								</ul>
							</li>
							<li class="nav-item i5">
								<a href="/2083/list.htm" title="招生就业" target="_self">
									<span class="item-name">招生就业</span>
								</a>
								<i class="mark"></i>
								<ul class="sub-nav" style="width: 104px; height: 186px; top: 45px; left: 0px; visibility: hidden;">
									<li class="nav-item i5-1 " style="display: block; width: 100%;">
										<a href="/2102/list.htm" title="本科生招生" target="_self" style="display: block; width: auto;">
											<span class="item-name">本科生招生</span>
										</a>
										<i class="mark"></i>
									</li>
									<li class="nav-item i5-2 " style="display: block; width: 100%;">
										<a href="/2103/list.htm" title="研究生招生" target="_self" style="display: block; width: auto;">
											<span class="item-name">研究生招生</span>
										</a>
										<i class="mark"></i>
									</li>
									<li class="nav-item i5-3 " style="display: block; width: 100%;">
										<a href="/2104/list.htm" title="继续教育招生" target="_self" style="display: block; width: auto;"><span class="item-name">继续教育招生</span></a><i class="mark"></i>
									</li>
									<li class="nav-item i5-4 " style="display: block; width: 100%;">
										<a href="/2105/list.htm" title="就业信息" target="_self" style="display: block; width: auto;"><span class="item-name">就业信息</span></a><i class="mark"></i>
									</li>
									<li class="nav-item i5-5 " style="display: block; width: 100%;">
										<a href="/jyqx/list.htm" title="就业去向" target="_self" style="display: block; width: auto;"><span class="item-name">就业去向</span></a><i class="mark"></i>
									</li>
								</ul>
							</li>
							<li class="nav-item i6">
								<a href="/2084/list.htm" title="学生工作" target="_self">
									<span class="item-name">学生工作</span>
								</a>
								<i class="mark"></i>
								<ul class="sub-nav" style="width: 90px; height: 75px; top: 45px; left: 0px; visibility: hidden;">
									<li class="nav-item i6-1" style="display: block; width: 100%;">
										<a href="/4032/list.htm" title="本科生工作" target="_self" style="display: block; width: auto;">
											<span class="item-name">本科生工作</span>
										</a>
										<i class="mark"></i>
									</li>
									<li class="nav-item i6-2" style="display: block; width: 100%;">
										<a href="/4033/list.htm" title="研究生工作" target="_self" style="display: block; width: auto;">
											<span class="item-name">研究生工作</span>
										</a>
										<i class="mark"></i>
									</li>
								</ul>
							</li>
							<li class="nav-item i7">
								<a href="/2085/list.htm" title="党建工作" target="_self">
									<span class="item-name">党建工作</span>
								</a>
								<i class="mark"></i>
							</li>
							<li class="nav-item i8">
								<a href="/gjjl/list.htm" title="国际交流" target="_self">
									<span class="item-name">国际交流</span>
								</a>
								<i class="mark"></i>
							</li>
							<li class="nav-item i9">
								<a href="/2086/list.htm" title="社会服务" target="_self">
									<span class="item-name">社会服务</span>
								</a>
								<i class="mark"></i>
								<ul class="sub-nav" style="width: 114.113px; height: 149px; top: 45px; left: 0px; visibility: hidden;">
									<li class="nav-item i9-1" style="display: block; width: 100%;">
										<a href="/3338/list.htm" title="基本情况" target="_self" style="display: block; width: auto;">
											<span class="item-name">基本情况</span>
										</a>
										<i class="mark"></i>
									</li>
									<li class="nav-item i9-2" style="display: block; width: 100%;">
										<a href="/3339/list.htm" title="安全技术培训中心" target="_self" style="display: block; width: auto;">
											<span class="item-name">安全技术培训...</span>
										</a>
										<i class="mark"></i>

									</li>
									<li class="nav-item i9-3" style="display: block; width: 100%;">
										<a href="/3340/list.htm" title="湖北省矿山安全实验室" target="_self" style="display: block; width: auto;">
											<span class="item-name">湖北省矿山安...</span>
										</a>
										<i class="mark"></i>
									</li>
									<li class="nav-item i9-4" style="display: block; width: 100%;">
										<a href="/3341/list.htm" title="职业卫生检测及评价中心" target="_self" style="display: block; width: auto;">
											<span class="item-name">职业卫生检测...</span>
										</a>
										<i class="mark"></i>
									</li>
								</ul>
							</li>
							<li class="nav-item i10">
								<a href="/xyzj/list.htm" title="校友之家" target="_self">
									<span class="item-name">校友之家</span>
								</a>
								<i class="mark"></i>
							</li>
							<li class="nav-item i11">
								<a href="#" title="各系主页" target="_self">
									<span class="item-name">各系主页</span>
								</a>
								<i class="mark"></i>
								<ul class="sub-nav" style="width: 90px; height: 149px; top: 45px; left: 0px; visibility: hidden;">

									<li class="nav-item i11-1" style="display: block; width: 100%;">
										<a href="http://202.114.224.55:8050/xgx/index.html" title="信息系主页" target="_blank" style="display: block; width: auto;">
											<span class="item-name">信息系主页</span>
										</a>
										<i class="mark"></i>
									</li>
									<li class="nav-item i11-2" style="display: block; width: 100%;">
										<a href="http://202.114.224.55:8050/safe/home.html" title="安环系主页" target="_blank" style="display: block; width: auto;">
											<span class="item-name">安环系主页</span>
										</a>
											<i class="mark"></i>
									</li>
									<li class="nav-item i11-3" style="display: block; width: 100%;">
										<a href="http://202.114.224.55:8050/jkx/web/index.html" title="计科系主页" target="_self" style="display: block; width: auto;">
											<span class="item-name">计科系主页</span>
										</a>
										<i class="mark"></i>
									</li>
									<li class="nav-item i11-4" style="display: block; width: 100%;">
										<a href="http://202.114.224.55:8050/ahx/index.html" title="环境系主页" target="_self" style="display: block; width: auto;">
											<span class="item-name">环境系主页</span>
										</a>
										<i class="mark"></i>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>