		<!-- 包含校徽、院徽、学院名称、背景图片、背景色、导航栏 -->
		<div class="wrapper" id="container">
			<div class="inner">
				<div class="infobox" frag="面板3">
					<div class="col_news_head1">
						<ul class="col_metas clearfix" frag="窗口5" portletmode="simpleColumnAttri">
							<li class="col_path">
								<span class="path_name">当前位置：</span>
								<a href="/main.htm" target="_self">首页</a>
								<span class="possplit">&nbsp;&nbsp;</span>
								<a href="/tzgg/list.htm" target="_self">通知公告</a>
							</li>
						</ul>
					</div>
					<div class="article" frag="窗口3" portletmode="simpleArticleAttri">
						<h1 class="arti_title">第58次全国计算机等级考试报名通知</h1>
						<p class="arti_metas">
							<span class="arti_publisher">发布者：陈溪</span>
							<span class="arti_update">发布时间：2019-12-12</span>
							<span class="arti_views">浏览次数：
								<span class="WP_VisitCount" style="display: inline;">4358</span>
							</span>
						</p>
						<div class="entry">
							<div class="read">
								<div class="wp_articlecontent">
									<p style="background:#ffffff;widows:2;orphans:2;text-align:left;margin-bottom:0in;">
										<span style="font-size:14px;font-family:宋体, serif;">2020年3月第58</span>
										<span style="font-size:14px;">次全国计算机等级考试报名工作安排如下：</span>
									</p>
									<p style="background:#ffffff;widows:2;orphans:2;text-align:left;margin-bottom:0in;"><br></p>
									<p style="text-indent:0.29in;background:#ffffff;widows:2;orphans:2;text-align:left;margin-bottom:0in;">
										<span style="font-family:宋体;color:#333333;">考生报名（注册）截止时间为2019年12月23日17:00;缴费须在2019年12月24日00:00前成功完成（已支付状态）。建议考生在2019年</span>12月23日17点前完成缴费。
									</p>
									<p style="text-indent:0.29in;background:#ffffff;widows:2;orphans:2;text-align:left;margin-bottom:0in;">
										<span style="font-family:宋体;color:#333333;">准考证打印开始时间为：2020年3月15日08：00</span>
									</p>
									<p style="text-indent:0.29in;background:#ffffff;widows:2;orphans:2;text-align:left;margin-bottom:0in;">
										<span style="font-family:宋体;color:#333333;">考试时间：2020年3月28日 - 29日。</span>
								</p>
									<p style="background:#ffffff;widows:2;orphans:2;text-align:left;margin-bottom:0in;"><br></p>
									<p style="background:#ffffff;widows:2;orphans:2;text-align:left;margin-bottom:0in;">
										<span style="font-family:宋体;">
											报名注意事项:
										</span>
									</p>
									<p style="background:#ffffff;widows:2;orphans:2;text-align:left;margin-bottom:0in;"><br></p>
									<p style="background:#ffffff;widows:2;orphans:2;text-align:left;margin-bottom:0in;">
										<span style="font-family:宋体, serif;">
											1.http://ncre.hbea.edu.cn/NCRE_EMS/studentlogin.aspx
										</span>
									</p>
									<p style="background:#ffffff;widows:2;orphans:2;text-align:left;margin-bottom:0in;"><br></p>
									<p style="background:#ffffff;widows:2;orphans:2;text-align:left;margin-bottom:0in;">
										<span style="font-family:宋体;">
											考生在此网站完成报名、缴费、准考证打印。登陆报名网站后请仔细阅读网上报名公告、报名须知及流程。
										</span>
									</p>
									<p style="background:#ffffff;widows:2;orphans:2;text-align:left;margin-bottom:0in;"><br></p>
									<p style="background:#ffffff;widows:2;orphans:2;text-align:left;margin-bottom:0in;">
										<span style="font-family:宋体, serif;">
											2.考生首次报考，须注册登录账号。一旦获得账号，以后可以长期使用。如需修改账号密码或个人注册信息，可登录<a href="http://passport.etest.net.cn/Register">ETEST通行证</a>进行管理。务必妥善保存好本人账号及密码，每次账号登录完成操作后，须及时退出，以防泄密带来不必要的损失。
										</span>
									</p>
									<p style="background:#ffffff;widows:2;orphans:2;text-align:left;margin-bottom:0in;"><br></p>
									<p style="background:#ffffff;widows:2;orphans:2;text-align:left;margin-bottom:0in;">
										<span style="font-family:宋体, serif;">
											3.本次报名工作使用网上报名方式采集考生数据信息，考生需正确填报并认真核对报考信息，确保姓名、身份证号、照片（证件照）、级别（含语言或类别）等信息准确无误，缴费前请确认个人信息与报考信息无误后再进行缴费操作，缴费即视为确认报考信息正确，一旦缴费成功各项信息均不能更改。
										</span>
									</p>
									<p style="background:#ffffff;widows:2;orphans:2;text-align:left;margin-bottom:0in;"><br></p>
									<p style="background:#ffffff;widows:2;orphans:2;text-align:left;margin-bottom:0in;">
										<span style="font-family:宋体, serif;">
											4.姓名中有生僻字无法输入的考生，生僻字请用汉语拼音全拼代替。
										</span>
									</p>
									<p style="background:#ffffff;widows:2;orphans:2;text-align:left;margin-bottom:0in;"><br></p>
									<p style="background:#ffffff;widows:2;orphans:2;text-align:left;margin-bottom:0in;">
										<span style="font-family:宋体, serif;">
											5.未提供照片或本人信息与报名信息不符的考生不允许参加考试。考生上传照片时请仔细阅读上传页面上的说明，因为该照片将用于考试时核实考生身份并在成绩合格后印制在考试合格证上，所以请考生务必按照要求上传照片。否则，因照片未按要求上传所导致的一切后果，由考生自行承担。
										</span>
									</p>
									<p style="background:#ffffff;widows:2;orphans:2;text-align:left;margin-bottom:0in;"><br></p>
									<p style="background:#ffffff;widows:2;orphans:2;text-align:left;margin-bottom:0in;">
										<span style="font-family:宋体, serif;">
											6.每次考试每个考生可报考多个级别科目（最多 3 科），但须在同一个考点报考 , 若因考生在不同考点报考造成考试时间冲突而无法正常进行考试的，由考生自行承担责任。但不能重复报考同一科目。同次考试重复报考相同科目的将取消本次考试各科成绩。
										</span>
									</p>
									<p style="background:#ffffff;widows:2;orphans:2;text-align:left;margin-bottom:0in;"><br></p>
									<p style="background:#ffffff;widows:2;orphans:2;text-align:left;margin-bottom:0in;">
										<span style="font-family:宋体, serif;">
											7.考生注意使用推荐的浏览器(IE(9+)、火狐、谷歌)登录，如遇问题请检查浏览器及设置。360浏览器及相关安全软件可能会影响使用。
										</span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>