<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>my-pro</title>
        <script src="js/jquery.min.js"></script>
        <script src="js/reqrcode.js"></script>
		
		<!-- 引入 Bootstrap -->
		<link href="./css/bootstrap.min.css" rel="stylesheet">
		<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
		<script src="./js/jquery.js"></script>
		<!-- 包括所有已编译的插件 -->
		<script src="./js/bootstrap.min.js"></script>

    </head>

    <body>
	    <nav class="navbar navbar-inverse">
	        <div class="container-fluid">
	            <div class="navbar-header">
	                <button class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse" type="button">
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand" href="#">网站名</a>
	            </div>
	            <div class="collapse navbar-collapse" id="myNavbar">
	                <ul class="nav navbar-nav">
	                    <li><a href="../index.php">主页</a></li>
	                    <li><a href="./share.html">分享</a></li>
	                    <li><a href="./toggle.html">切换</a></li>
	                    <li><a href="./QRCode.html">二维码生成器</a></li>
	                    <li class="active"><a href="#">二维码解析器</a></li>
						<li><a href="./bbsList.html">论坛</a></li>
	                </ul>
	            </div>
	        </div>
	    </nav>

        <input type="file" id="newfile" style="margin-top: 20%;position: relative;left: 50%;top: 50%;transform: translate(-50%, -50%);">
        <div id="txt" style="text-align: center;"></div>
        <script>
            var newfile = document.getElementById('newfile');
            var getObjectURL = function(file) {
                var url = null;
                if(window.createObjectURL != undefined) { // basic
                    url = window.createObjectURL(file);
                } else if(window.URL != undefined) { // mozilla(firefox)
                    url = window.URL.createObjectURL(file);
                } else if(window.webkitURL != undefined) { // webkit or chrome
                    url = window.webkitURL.createObjectURL(file);
                }
                return url;
            }
            newfile.onchange = function() {
                //   console.log(newfile[0]);
                console.log(getObjectURL(this.files[0])); // newfile[0]是通过input file上传的二维码图片文件
                qrcode.decode(getObjectURL(this.files[0]));
                qrcode.callback = function(imgMsg) {
                    //          alert("二维码解析：" + imgMsg);
                    $("#txt").html("二维码解析:<a href='"+imgMsg+"'>"+imgMsg+"</a>");
                }
            }
        </script>
    </body>
</html>