<!DOCTYPE html>
<html>

	<head>
		<title>Bootstrap 模板</title>
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../css/toggle.css"/>
		
		<!-- 引入 Bootstrap -->
		<link href="./css/bootstrap.min.css" rel="stylesheet">
		<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
		<script src="./js/jquery.js"></script>
		<!-- 包括所有已编译的插件 -->
		<script src="./js/bootstrap.min.js"></script>

	</head>

	<body>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">网站名</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a href="../index.php">主页</a></li>
						<li><a href="./share.html">分享</a></li>
						<li class="active"><a href="#">切换</a></li>
						<li><a href="./QRCode.html">二维码生成器</a></li>
						<li><a href="./reQRcode.html">二维码解析器</a></li>
						<li><a href="./bbsList.html">论坛</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="card" style="margin: 7% auto;">
			<input type="checkbox" name="" id="" value="" />
			<div class="toggle"><span class="txt">+</span></div>
			<div class="imgBx">
				<img src="../img/1.jpg"/>
			</div>
			<div class="content">
				<h2>2019年</h2>
				<p>Let me share with you something that you may not expect. You will miss your old routines and your parents' reminders to work hard and attain your best.You may have cried tears of joy to be finally finished with high school, and your parents may have cried tears of joy to be finally finished with doing your laundry! But know this: The future is built on a strong foundation of the past.</p>
			</div>
		</div>
	</body>
</html>
